{% extends 'index.html' %}
{% block content %}
<section class="jumbotron m-0" style="border-radius:0;background-color:#ededed;">
    <div class="row px-auto mb-4 ml-4">
        <div class="card" style="width:fit-content;margin-left:3rem;">
            <img src="img/h1.jpg" style="width:18rem;" class="mx-2 mt-2" alt="">
            <div class="card-body">
                <div class="row mx-auto">
                    <i class="fa fa-map-marker mx-4 fa-2x my-auto" aria-hidden="true"></i>
                    <div class="col my-auto">
                        <h3>Location1</h3>
                        <p>Address1</p>
                    </div>
                </div>            
            </div>            
        </div>
        <div class="card" style="width:fit-content;margin-left:3rem;">
            <img src="img/h1.jpg" style="width:18rem;" class="mx-2 mt-2" alt="">
            <div class="card-body">
                <div class="row mx-auto">
                    <i class="fa fa-map-marker mx-4 fa-2x my-auto" aria-hidden="true"></i>
                    <div class="col my-auto">
                        <h3>Location2</h3>
                        <p>Address2</p>
                    </div>
                </div>            
            </div>            
        </div>
    </div>
    <div class="row px-auto mt-4 ml-4">
        <div class="card" style="width:fit-content;margin-left:3rem;">
            <img src="img/h1.jpg" style="width:18rem;" class="mx-2 mt-2" alt="">
            <div class="card-body">
                <div class="row mx-auto">
                    <i class="fa fa-map-marker mx-4 fa-2x my-auto" aria-hidden="true"></i>
                    <div class="col my-auto">
                        <h3>Location3</h3>
                        <p>Address3</p>
                    </div>
                </div>            
            </div>            
        </div>
        <div class="card" style="width:fit-content; margin-left:3rem;">
            <img src="img/h1.jpg" style="width:18rem;" class="mx-2 mt-2" alt="">
            <div class="card-body">
                <div class="row mx-auto">
                    <i class="fa fa-map-marker mx-4 fa-2x my-auto" aria-hidden="true"></i>
                    <div class="col my-auto">
                        <h3>Location4</h3>
                        <p>Address4</p>    
                    </div>
                </div>            
            </div>            
        </div>
    </div>
</section>
{% endblock %}